@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@namespace ATMP.UI
@attribute [StyleSheet]

<root>
	@{
		if (_client is null)
			return;
	}

	<div class="card">
		<label class="name">@_client.UserName</label>
	</div>
</root>

@code
{
	private ClientComponent _client;

	protected override void OnStart()
	{
		if (IsProxy)
		{
			_client ??= Scene.FindClient(GameObject);
			GameObject.Enabled = IsProxy;
		}
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(GameObject.Network.OwnerId);
	}
}
