@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel

@namespace ATMP.UI
@attribute [StyleSheet]

<root>
    <label class="title">Scoreboard</label>
    <div class="hr"></div>
    <div class="inner">
        @{
            foreach (var client in Hud.Instance.Scene.GetAllComponents<ClientComponent>().ToArray())
            {
                <ScoreboardItem Client=@client></ScoreboardItem>
            }
        }
    </div>
</root>

@code
{
    public override void Tick()
    {
        SetClass("active", Input.Down(GameInputActions.Score));
        // SetClass("active", true);
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine(Input.Down(GameInputActions.Score));
    }
}
