@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel

@namespace ATMP.UI

<root>
    <label class="title">Scoreboard</label>
    <div class="hr"></div>
    <div class="inner">
        @{
            foreach (var client in Hud.Instance.Scene.GetAllComponents<ClientComponent>().ToArray())
            {
                <ScoreboardItem Client=@client></ScoreboardItem>
            }
        }
    </div>
</root>
<style>
    Scoreboard {
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 25%;
        left: 25%;
        right: 25%;
        font-size: 32px;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.56);
        color: white;
        transition: all 250ms ease-in-out;
        &.active

    {
        opacity: 1;
    }

    .title {
        padding-top: 6px;
        font-weight: bold;
        font-size: 38px;
    }

    .inner {
        padding-top: 5px;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .hr {
        width: 95%;
        height: 2px;
        background-color: rgb(255, 255, 255, 0.50);
    }

    }
</style>
@code
{
    public override void Tick()
    {
        SetClass("active", Input.Down(GameInputActions.Score));
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine(Input.Down(GameInputActions.Score));
    }
}
