@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel

@namespace ATMP.UI
@attribute [StyleSheet]

<root>
    <div class="player-info">
        @{
            if(Client.Host)
            {
                <label style="font-size: 20px;">🌐</label>
            }
            else
            {
                <label style="font-size: 20px;">🖥️</label>
            }
        }
        <img class="avatar" src="avatar:@(Client.SteamId)" style="width:32px; height:32px; border-radius: 16px; margin-left: 12px;" />
        <label>@Client.UserName</label>
    </div>
	<div class="splitter"></div>
	<div class="score">
    	<label>@($"{Client.Score}")</label>
    	<label style="font-size: 32px;">🏆</label>
	</div>
	<div style="width: 16px;"></div>
	<div class="score">
    	<label>@($"{Client.Ping}")</label>
    	<label style="font-size: 32px;">📶</label>
	</div>
</root>


@code {
    public ClientComponent Client { get; set; }

    protected override int BuildHash()
    {
        return System.HashCode.Combine(Input.Down(GameInputActions.Score), Client.Score, Client.Ping);
    }
} 
